*{
    box-sizing: border-box;

}

body{
    background-color: orange ;
    width: 100%;
}

.quiz-wrapper{
    margin: 0 auto;
    align-items: center;
    width: 80%;
}

.option-wrapper{
    margin: 0 auto;
    width: 60%;
}